<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preview</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="{{ asset('bundles/seo/css/integrator/og-graph.css') }}">
</head>
<body>

<div id="snippet-box">
    <p class="invalid">No Template selected.</p>
</div>

</body>
</html>