includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    scanFiles:
        - %currentWorkingDirectory%/vendor/pimcore/pimcore/stubs/dynamic-constants.php
    reportUnmatchedIgnoredErrors: false
    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/test/TestKernelTestDebugContainer.xml
        constantHassers: false
    excludePaths:
        # as long we don't install the dependencies :(
        - src/MetaData/Extractor/ThirdParty/News/EntryMetaExtractor.php
        - src/MetaData/Extractor/ThirdParty/CoreShop/OGExtractor.php
        - src/MetaData/Extractor/ThirdParty/CoreShop/TitleDescriptionExtractor.php
